#chart-month {
  padding: 20px 0 50px 0;

  .option {
    display: flex;
    justify-content: space-between;
    justify-content: center;

    .button {
      display: flex;
      align-items: center;
      .btn-common{
        height: 40px;
      }
    }
  }
}
