@import "/src/assets/scss/variables.scss";
.table-common {
  .table {
    .responsive-table {
      padding-left: 0;
      padding: 20px;
      li {
        border-radius: 10px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
      }
      .table-header {
        background-color: $main_color;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: $white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .col-sort {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 10px;
          .arrow-beetwen{
            height: 8px;
          }
          .arrow-up {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid $white;
            cursor: pointer;
          }

          .arrow-up-click{
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid $gray_600;
          }

          .arrow-down {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $white;
            cursor: pointer;
          }

          .arrow-down-click{
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $gray_600;
          }
        }
      }
      .table-row {
        background-color: $white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .col {
          .button {
            // border: 1px solid $gray;
            // border-radius: 10px;
            // padding: 5px;
            // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            // background-color: $gray;
            cursor: pointer;
            &:hover {
              svg {
                color: $red;
              }
            }
          }
        }
      }

      @media all and (max-width: 767px) {
        .table-header {
          display: none;
        }
        li {
          display: block;
        }
        .col {
          flex-basis: 100%;
        }
        .col {
          display: flex;
          padding: 10px 0;
          &:before {
            color: #6c7a89;
            padding-right: 10px;
            content: attr(data-label);
            flex-basis: 50%;
            text-align: right;
          }
        }
      }
    }
  }
  .bottom-pagination {
    position: absolute;
    right: 20px;
  }

  .page-item {
    .page-link {
      color: $black;
      font-family: $font-family;
      font-size: 14px;
      &:focus {
        box-shadow: none;
        background-color: $main_color;
        color: $white;
      }
    }
  }
}
