@import '../../assets/scss/variables';

.hero {
  background: $primary;
  padding: calc(4rem - 30px) 0 0rem 0;
  @media (min-width: $md) {
    padding: calc(4rem - 30px) 0 4rem 0;
  }
  @media (min-width: $lg) {
    padding: calc(8rem - 30px) 0 8rem 0;
  }

  .intro-excerpt {
    position: relative;
    z-index: 4;
    @media (min-width: $lg) {
      max-width: 450px;
    }
  }
  h1 {
    font-weight: 700;
    color: $white;
    margin-bottom: 30px;

    @media (min-width: $xxl) {
      font-size: 54px;
    }
  }
  p {
    color: rgba($white, 0.5);
    margin-bottom: 30px;
  }
  .hero-img-wrap {
    position: relative;
    img {
      position: relative;
      top: 0px;
      right: 0px;
      z-index: 2;
      max-width: 780px;
      left: -20px;
      @media (min-width: $md) {
        right: 0px;
        left: -100px;
      }
      @media (min-width: $lg) {
        left: 0px;
        top: -80px;
        position: absolute;
        right: -50px;
      }
      @media (min-width: $xl) {
        left: 0px;
        top: -80px;

        right: -100px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      width: 255px;
      height: 217px;
    //   background-image: url("../images/dots-light.svg");
      background-size: contain;
      background-repeat: no-repeat;
      right: -100px;
      top: -0px;
      @media (min-width: $xl) {
        top: -40px;
      }
    }
  }
}
