@import "/src/assets/scss/variables.scss";

#user-order-detail {
  margin-top: 80px;
  min-height: calc(100vh - 145px);

  .info-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .address,
    .shipment,
    .payment {
      // width: 32%;
      .title {
        margin: 10px 0 5px;
        font-size: 13px;
        text-transform: uppercase;
        color: rgb(36, 36, 36);

        @media (max-width: 960px) {
          display: inline-block;
          height: 40px;
        }
        @media (max-width: 720px) {
          display: inline;
          height: 40px;
        }
      }
      .content {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 150px;
        overflow-y: auto;
        span {
          margin: 5px 0px 0px;
        }
      }
    }

    .address {
      .name {
        text-transform: uppercase;
        color: rgb(36, 36, 36);
        font-weight: bold;
      }
    }

    .shipment {
      .content {
        .name {
          color: rgb(255, 183, 0);
          font-weight: 700;
          font-size: 16px;
        }
      }
    }

    .payment {
      .content {
        .pay-success {
          color: rgb(253, 162, 35);
          font-style: italic;
          font-weight: 300;
        }
      }
    }
  }

  .status {
    border: 1px solid #ddd;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    .status-item {
      display: flex;
      align-items: center;
      flex-grow: 1;
      position: relative;
      .status-icon {
        height: 60px;
        width: 60px;
        border: 2px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        flex-grow: 0;
      }

      .status-line {
        height: 2px;
        flex-grow: 1;
        background: #ccc;
      }

      .status-label {
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;

        @media (max-width: 540px) {
          bottom: -20px;
        }
      }
    }

    .status-item-end {
      flex-grow: 0;
    }
  }

  .order-product {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 30px;

    .header {
      display: flex;
      margin: 0;
      padding: 20px 10px;
      color: rgb(120, 120, 120);
      font-size: 15px;
      font-weight: 400;
      border-bottom: 1px solid #f2f2f2;
    }

    .order-item {
      &:hover {
        background-color: rgb(246, 252, 255);
        cursor: pointer;
      }
      .product-item-order {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        border-radius: 4px;
        padding: 20px 10px;

        .img-product {
          width: 80px;
          height: 80px;
          border-radius: 4px;
        }
      }
      .btn-rate {
        width: max-content;
        float: right;
        button {
          height: 32px;
          margin: 0 10px 10px;
        }
      }
    }

    .pay-money {
      padding: 20px 10px;
      margin: 0;
      div {
        padding: 5px 20px;
        span:first-child {
          color: rgb(120, 120, 120);
          font-size: 14px;
          text-align: right;
        }
        span:last-child {
          color: rgb(36, 36, 36);
          font-size: 14px;
          text-align: right;
        }
      }

      .price-total {
        span:last-child {
          color: rgb(255, 59, 39);
          font-size: 18px;
        }
      }
    }
  }

  .view-add-product {
    margin: 20px 0;
    text-align: center;
  }
}

.modal-rate {
  #images {
    display: flex;
    flex-wrap: wrap;
    .display-img {
      display: flex;
      flex-wrap: wrap;
    }
    figure {
      margin: 5px;
      img {
        width: 95px;
        height: 95px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}
