@import "/src/assets/scss/variables.scss";

.manager-brand {
  .manager-action {
    padding: 20px 0;

    .input-search-product {
      .input-group {
        margin: 0;
      }
    }

    .btn-add-brand{
      width: 100%;
      button {
        float: right;
      }
    }
  }
}
