@import "/src/assets/scss/variables.scss";

.input-group {
  position: relative;
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;

  .input-common,
  .textarea-common,
  .select-common,
  .number-common {
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1rem;
    border-radius: 4px !important;
    border: 1px solid #ddd;
    outline: none;
  }

  .ic-edit {
    position: absolute;
    right: -4px;
    bottom: -10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .input-err-password {
    padding: 1rem 4rem 1rem 3rem;
  }

  .textarea-common {
    min-height: 100px;
    &::-webkit-scrollbar {
      width: 0 !important;
      display: none;
    }
  }

  label {
    margin-bottom: 5px;
  }

  .select-common:focus {
    box-shadow: none;
    border: 1px solid $main_color;
  }

  .number-common {
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  label {
    font-size: 1rem;
  }

  .input-common:focus {
    border: 1px solid $main_color;
  }

  .left-icon {
    top: 50%;
    left: 1rem;
  }

  .right-icon {
    top: 50%;
    right: 1rem;
    transition: all 0.5s ease;
  }

  .ic-error {
    right: 3em;
  }

  .left-icon,
  .right-icon {
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .warning-icon-input {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);

    .tooltiptext {
      visibility: hidden;
      min-width: 120px;
      width: auto;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 50%;
      margin-left: -60px;
      padding: 10px;
    }

    .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }

  .warning-icon-input:hover {
    .tooltiptext {
      visibility: visible;
    }
  }

  .has-error {
    border: 1px solid $error-input-color;
    border-radius: 10px !important;
  }

  .action-quanlily {
    margin: 10px;
    border: 0.125rem solid $gray-2;
    height: 100%;
    cursor: pointer;
  }

  .input-file {
    height: max-content;
    .image {
      width: 100%;
      min-height: 300px;
      height: auto;
      object-fit: cover;
      // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 10px;
    }
    .label-img {
      background-color: $main_color;
      color: $white;
      padding: 1rem;
      border-radius: 0.3rem;
      font-weight: 600;
      cursor: pointer;
      margin: 0;
      text-align: center;
      // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: block;
      height: 50px;
      &:hover {
        background-color: $main_color_hover;
      }
    }
  }

  .label-img {
    background-color: $main_color;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: 600;
  }

  .img-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
