@import "/src/assets/scss/variables.scss";

.input-group {
  position: relative;
  width: 100%;
  margin: 1rem 0;
  label {
    font-size: 18px;
    align-self: flex-start;
  }

  input {
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1rem;
    background-color: $gray;
    border-radius: 0.5rem!important;
    border: 0.125rem solid $white;
    outline: none;
  }

  input:focus {
    border: 0.125rem solid $primary-color;
  }

  i {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: $gray-2;
  }
}
