@import "/src/assets/scss/variables.scss";

#news-detail {
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  .news {

    .title-new {
      display: flex;
      flex-direction: column;
      span:first-child {
        font-size: 30px;
        font-weight: 600;
        color: $dark;
      }

      span:last-child {
        color: $dark;
      }
    }
    .content-html {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .post-new {

    .title-catalog {
      font-size: 24px;
      display: inline-block;
      margin-bottom: 10px;
    }
    .post-item {
      display: flex;
      margin-bottom: 10px;
      cursor: pointer;
      .post-thumbnail {
        margin-right: 10px;
        img {
          height: 70px;
          width: 100px;
        }
      }
      .post-content {
        width: calc(100% - 100px);
        .title {
          font-size: 12px;
          width: 100%;
          word-break: break-word;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          // line-height: 24px; /* fallback */
          // max-height: 72px; /* fallback */
          -webkit-line-clamp: 2; /* number of lines to show */
          -webkit-box-orient: vertical;
        }
        .date-post {
          font-size: 12px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
