@import "/src/assets/scss/variables.scss";

.management-order {
  .action {
    border-radius: 4px;
    margin: 0;
    display: flex;

    .action-filter {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      padding: 0;

      .from-date,
      .to-date {
        position: relative;
      }
      .filter-date {
        width: 215px;
        height: 40px;
        border: $main_color;
        border-radius: 4px;
        padding: 10px 20px;
        &:focus-visible {
          outline: none;
        }
      }

      button {
        margin-left: 20px;
        height: 40px;
      }

      .warning-icon-input {
        position: absolute;
        top: 44%;
        right: 4px;
        transform: translateY(-50%);

        .tooltiptext {
          visibility: hidden;
          min-width: 120px;
          width: auto;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 150%;
          left: 50%;
          margin-left: -60px;
          padding: 10px;
        }

        .tooltiptext::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: black transparent transparent transparent;
        }
      }

      .warning-icon-input:hover {
        .tooltiptext {
          visibility: visible;
        }
      }

      .btn-filter {
        background-color: #e90f0f;
        color: #fff;

        &:hover {
          background-color: #800606;
        }
      }

      .btn-view-all {
        background-color: #2f7aeb;
        color: #fff;

        &:hover {
          background-color: #0947a3;
        }
      }
    }

    .action-search {
      position: relative;
      width: max-content;
      padding: 0;
      input {
        width: 215px;
        height: 40px;
        border: $main_color;
        padding: 5px 15px 5px 30px;
        border-radius: 4px;

        &:focus-visible {
          outline: none;
        }
      }

      svg {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }

  .tab-header {
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    margin: 0 0 10px;

    .tab-header-item {
      padding: 10px 0;
      cursor: pointer;
      font-size: 16px;
    }

    .is-active {
      color: rgb(13, 92, 182);
      border-bottom: 2px solid rgb(13, 92, 182);
    }
  }

  .tab-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    border-radius: 4px;
    .tab-item {
      width: 100%;
    }
    .no-order {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      background: #fff;
      border-radius: 4px;

      img {
        width: 300px;
        height: 300px;
      }
    }

    .no-active {
      display: none;
    }
  }
}
