.product-detail-admin{
    padding: 50px 0;
    background: #fff;
    border-radius: 10px;
    
    .multiple-img{
        #images{
            display: flex;
            flex-wrap: wrap;
            .display-img{
                display: flex;
                flex-wrap: wrap;
            }
            figure{
                margin: 5px;
                img{
                    width: 95px;
                    height: 95px;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }
    }
}