@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

$white: #ffffff;
$black: #000000;
$primary: #3b5d50;
$secondary: #f9bf29;
$dark: #2f2f2f;
$light: #dce5e4;
$lighter: #eff2f1;
$body_color: #6a6a6a;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$placeholder-gray-color: #9e9e9e;
$black-color-default: #222222 !default;
$disabled-input-background: #fafbfc;
$error-input-color: #dc3545;
$primary-color: #cb1c22 !default;
$white-color: #ffffff !default;
$primary-color: #4EA685;
$secondary-color: #57B894;
$black: #000000;
$white: #ffffff;
$gray: #efefef;
$gray-2: #757575;

$facebook-color: #4267B2;
$google-color: #DB4437;
$twitter-color: #1DA1F2;
$insta-color: #E1306C;

$font-family: "Inter", sans-serif;
