@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

$font-family: "Inter", sans-serif;

$white: #ffffff;
$black: #000000;
$main_color: #3b5d50;
$secondary: #f9bf29;
$dark: #2f2f2f;
$light: #dce5e4;
$lighter: #eff2f1;
$body_color: #6a6a6a;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$placeholder-gray-color: #9e9e9e;
$black-color-default: #222222 !default;
$disabled-input-background: #fafbfc;
$error-input-color: #dc3545;
// $primary-color: #cb1c22 !default;
$white-color: #ffffff !default;
$primary-color: #4ea685;
$secondary-color: #57b894;
$black: #000000;
$white: #ffffff;
$gray: #efefef;
$gray-2: #757575;

$facebook-color: #4267b2;
$google-color: #db4437;
$twitter-color: #1da1f2;
$insta-color: #e1306c;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eef5f9 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #757e85 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #1e2a35 !default;
$black: #000 !default;
$danger: #ff5c6c;
$success: #24d2b5;
$warning: #ff9041;
$info: #20aee3;
$inverse: #2f3d4a;
$secondary: #cccccc;
$muted: #bcc3d3;
$dark: #263238;
$light: #e9edf2;
$extra-light: #ebf3f5;

$bglight: rgba(0, 0, 0, 0.02);

$red: #fb3a3a;
$yellow: #a0aec4;
$purple: #7460ee;
$blue: #02bec9;
$megna: #56c0d8;

$light-danger: #f9e7eb;
$light-success: #e8fdeb;
$light-warning: #fff8ec;
$light-primary: #f1effd;
$light-info: #cfecfe;
$light-inverse: #f6f6f6;
$light-megna: #e0f2f4;

$rgt: right;
$lft: left;
$border: rgba(120, 130, 140, 0.13);
$table-border: #f3f1f1;
$card-brd: #d7dfe3;
$dark-text: #848a96;
$radius: 4px;
$form-brd: #b1b8bb;

$topbar: #1976d2;
$sidebar: #fff;
$sidebar-white: #e5edef;
$sidebar-alt: #edf0f5;
$bodycolor: #f6f9fa;
$headingtext: #455a64;
$bodytext: #67757c;
$sidebar-text: #8d97ad;
$sidebar-icons: #787f91;

$light-text: #a6b7bf;
$themecolor: #20aee3;
$themecolor-alt: #26c6da;
$themecolor-dark: #028ee1;

$error-input-color: #dc3545;
$disabled-input-background: #fafbfc;
$black-color-default: #222222 !default;
$placeholder-gray-color: #9e9e9e;
