@import "/src/assets/scss/variables.scss";

.login-form {
  width: 100%;
  position: relative;
  overflow: hidden;
  .sign-up,
  .sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease;
    padding: 0 10px;

    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .action {
        font-size: 12px;

        b {
          cursor: pointer;
        }
      }

      .forgot-pass {
        cursor: pointer;
        text-align: center;
        margin: 10px 0;
        a {
          text-decoration: none;
          color: red;
        }
      }
    }

    .back-to-home {
      a {
        text-decoration: none;
      }
    }
  }

  .btn-login {
    
    .img-google {
      height: 100%;
      width: auto;
      padding: 10px;
    }
  }
  .sign-up {
    position: absolute;
    width: 100%;
  }
}
.sign-in-active {
  .sign-in {
    transform: translate(0, 0);
  }
  .sign-up {
    top: 0;
    right: -100%;
  }
}

.sign-up-active {
  .sign-in {
    transform: translate(-100%, 0);
  }
  .sign-up {
    top: 0;
    right: 0;
  }
}
