@import "/src/assets/scss/variables.scss";
.account {
  margin: 160px 0 20px 0;

  .account-navbar {
    .name-component {
      font-size: 19px;
      line-height: 21px;
      font-weight: 300;
      display: flex;
      align-items: center;
      margin: 20px 0;
      padding: 0 12px;
    }
  }

  .account-sidebar {
    .account-option {
      .option {
        height: 38px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        font-size: 14px;
      }
      .is-active {
        background: $main_color;
        color: white;
      }
    }
  }
}
