@import "/src/assets/scss/variables.scss";

.btn-common {
  height: 50px;
  border: 0px solid transparent;
  border-radius: 4px;
  .icon {
    margin: 10px;
  }
  &.primary {
    background: $main_color;
    color: $white;
  }
  &.primary:hover {
    background: $main_color_hover;
    color: $white;
  }

  &.secondary {
    color: $dark;
    background: $secondary;
    border-color: $secondary;
  }
  &.secondary:hover {
    background: $secondary_hover;
    border-color: $secondary_hover;
    .children {
      color: black;
    }
  }

  &.outline {
    border-width: 1px;
    border-color: #0d5cb6;
    background: #fff;
    .children {
      color: #0d5cb6;
    }
  }
  &.outline:hover {
    opacity: 0.8;
  }

  &.dangerous {
    background: $red;
    color: $white;
  }
  &.dangerous:hover {
    background: $red;
    color: $white;
  }

  &.disabled {
    background: #dddddd!important;
  }

  .children {
    padding: 10px;
  }

  &.green {
    background: #6fd96f;
    .children {
      color: $white;
    }
  }
  &.green:hover {
    background: #4c8a4c;
  }

  &.red {
    background: #FF3945;
    .children {
      color: $white;
    }
  }
  &.red:hover {
    opacity: 0.8;
  }

  &.common {
    background: #f1f3f1;
    .children {
      color: $black;
    }
  }
}
