@import "/src/assets/scss//variables.scss";

.Order {
  margin-top: 160px;
  .list-purchase {
    .purchase {
      display: flex;
      background: #fff;
      border-radius: 4px;
      padding: 16px;
      align-items: center;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 4px;
        margin-right: 8px;
      }
      .info {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 20px;
        color: rgb(128, 128, 137);
        .quantity {
          margin-bottom: 4px;
        }

        .total {
          color: rgb(56, 56, 61);
          font-weight: 500;
        }
      }
    }
  }

  .choose-method {
    .method-pay,
    .method-delivery {
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 16px;
      margin-bottom: 10px;
      .header {
        color: rgb(56, 56, 61);
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        margin: 0px;
      }

      .option {
        display: flex;
        flex-direction: column;
        height: 64px;
        text-align: center;

        .radio-fake {
          width: 18px;
          height: 18px;
          border: 1px solid rgb(196, 196, 207);
          border-radius: 50%;
          margin-right: 8px;
          position: relative;
          z-index: 1;
          color: rgb(120, 120, 120);

          &::before {
            content: "";
            position: absolute;
            left: 4px;
            top: 4px;
            width: 8px;
            height: 8px;
            background-color: rgb(11, 116, 229);
            border-radius: 50%;
            transform: scale(0);
            transition: transform 0.3s ease 0s;
          }
        }

        input[type="radio"]:checked + .radio-fake::before {
          transform: scale(1);
        }

        input[type="radio"]:checked + .radio-fake {
          border-color: rgb(11, 116, 229);
        }

        input[type="radio"] {
          position: absolute;
          height: 18px;
          width: 18px;
          opacity: 0;
          z-index: 3;
          cursor: pointer;
        }

        .label {
          cursor: pointer;
          font-size: 14px;
          color: rgb(56, 56, 61);
        }
      }
    }
  }

  .info-purchase {
    .customer-info {
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-bottom: 12px;
      padding: 16px;
      .header {
        color: rgb(128, 128, 137);
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 12px;
      }

      .name-and-phone {
        margin-bottom: 2px;
        font-weight: 600;
        align-items: center;
        display: flex;
        font-size: 14px;

        span {
          word-break: break-word;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .phone {
          flex-shrink: 0;
          width: 91px;
        }

        i {
          display: block;
          width: 1px;
          height: 20px;
          background-color: rgb(235, 235, 240);
          margin: 0px 8px;
        }
      }

      .address {
        color: rgb(128, 128, 137);
        font-weight: normal;
        line-height: 24px;
        font-size: 14px;
      }
    }

    .discount {
      background: #fff;
      border-radius: 4px;
      border: 1px solid #ddd;
      padding: 16px;
      margin-bottom: 12px;
      .header {
        color: rgb(36, 36, 36);
        margin: 0px;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 16px;
      }

      .choose-coupon {
        display: flex;
        align-items: center;
        color: rgb(11, 116, 229);
        font-size: 13px;
        line-height: 20px;
        cursor: pointer;
        svg {
          margin-right: 8px;
        }
      }
    }

    .fee {
      background: #fff;
      border-radius: 4px;
      margin-bottom: 12px;
      border: 1px solid #ddd;

      .fee-category {
        padding: 17px 20px;
        border-bottom: 1px solid rgb(244, 244, 244);

        .fee-temporary,
        .fee-discount,
        .fee-delivery {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          margin-bottom: 10px;
          span:first-child {
            font-weight: 300;
            color: rgb(51, 51, 51);
          }
        }
      }

      .fee-total {
        padding: 17px 20px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0px;
        span:first-child {
          font-weight: 300;
          color: rgb(51, 51, 51);
        }

        .please-choose {
          color: rgb(254, 56, 52);
          font-size: 15px;
          font-weight: 400;
          text-align: right;
        }
      }
    }

    .payment {
      position: relative;
      overflow-x: hidden;
      width: 100%;
      height: 250px;
      &::-webkit-scrollbar {
        width: 0 !important;
        display: none;
      }
      .pay-online {
        position: absolute;
        transition: all 1s;
        width: 100%;
      }
      .pay-offline {
        position: absolute;
        transition: all 1s;
      }
    }
    .offline {
      .pay-online {
        right: -100%;
        opacity: 0;
      }
      .pay-offline {
        left: 0px;
      }
    }

    .online {
      .pay-online {
        right: 0;
      }
      .pay-offline {
        left: -100%;
        opacity: 0;
      }
    }
  }
}
