@import "/src/assets/scss//variables.scss";

.pay {
  min-height: 100vh;
  .form-pay {
    margin: 16px 0;
    .form-header {
      font-size: 24px;
      font-weight: 600;
    }
    .form-body {
      border-top: 1px solid rgba(175, 175, 175, 0.34);
      border-bottom: 1px solid rgba(175, 175, 175, 0.34);
      padding: 15px 0;
      .temporary_fee,
      .ship_fee {
        font-size: 14px;
        color: #717171;
        padding: 10px 0 5px 0;
      }
    }
    .form-footer {
      float: right;
      .label-total {
        font-size: 20px;
        font-weight: 600;
        padding: 16px 0;
      }
      .btn-order {
        float: right;
        position: relative;
        overflow-x: hidden;
        width: 210px;
        height: 300px;
        padding: 5px;
        &::-webkit-scrollbar { 
          width: 0 !important;
          display: none; 
          }
        .pay-online {
          position: absolute;
          transition: all 1s;
        }
        .pay-offline {
          position: absolute;
          transition: all 1s;
          width: 100%;
          box-shadow: none;
        }
      }
      .offline {
        .pay-online {
          right: -210px;
        }
        .pay-offline {
          left: 0px;
        }
      }

      .online {
        .pay-online {
          right: 5px;
        }
        .pay-offline {
          left: -210px;
        }
      }
    }
  }
}
