.modal-dialog {
  top: 50%;
  transform: translate(0, -50%) !important;
  min-height: calc(100vh - 100px);
  margin-top: 100px!important;
  .modal-content {
    padding: 20px;
    height: max-content;
    border: none !important;
    .modal-btn {
      button {
        float: right;
      }
    }
  }
  .close-btn {
    position: absolute;
    top: -30px;
    right: 0;
    font-weight: 600;
    font-size: 20px;
    color: red;
    cursor: pointer;
  }
}
