@import "/src/assets/scss/variables.scss";
#cart {
  margin-top: 80px;
  min-height: calc(100vh - 80px);

  .no-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info-purchase {
    .customer-info {
      border: 1px solid #ddd;
      background: #fff;
      border-radius: 4px;
      margin-bottom: 12px;
      padding: 16px;
      .header {
        color: rgb(128, 128, 137);
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 12px;
      }

      .name-and-phone {
        margin-bottom: 2px;
        font-weight: 600;
        align-items: center;
        display: flex;
        font-size: 14px;

        span {
          word-break: break-word;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .phone {
          flex-shrink: 0;
          width: 91px;
        }

        i {
          display: block;
          width: 1px;
          height: 20px;
          background-color: rgb(235, 235, 240);
          margin: 0px 8px;
        }
      }

      .address {
        color: rgb(128, 128, 137);
        font-weight: normal;
        line-height: 24px;
        font-size: 14px;
      }
    }

    .discount {
      border: 1px solid #ddd;
      background: #fff;
      border-radius: 4px;
      padding: 16px;
      margin-bottom: 12px;
      .header {
        color: rgb(36, 36, 36);
        margin: 0px;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 16px;
      }

      .choose-coupon {
        display: flex;
        align-items: center;
        color: rgb(11, 116, 229);
        font-size: 13px;
        line-height: 20px;
        cursor: pointer;
        svg {
          margin-right: 8px;
        }
      }
    }

    .fee {
      border: 1px solid #ddd;
      background: #fff;
      border-radius: 4px;
      margin-bottom: 12px;

      .fee-category {
        padding: 17px 20px;
        border-bottom: 1px solid rgb(244, 244, 244);

        .fee-temporary,
        .fee-discount,
        .fee-delivery {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          margin-bottom: 10px;
          span:first-child {
            font-weight: 300;
            color: rgb(51, 51, 51);
          }
        }
      }

      .fee-total {
        padding: 17px 20px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0px;
        span:first-child {
          font-weight: 300;
          color: rgb(51, 51, 51);
        }

        .please-choose {
          color: rgb(254, 56, 52);
          font-size: 15px;
          font-weight: 400;
          text-align: right;
        }
      }
    }
  }

  .quantity {
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    button {
      border: none;
      &:hover {
        background: #5f5f5f;
      }
    }
    .minus {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .plus {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    input {
      border: none;
      height: 28px;
      background: #fff;
      color: $black;
    }
  }
}
