@import "/src/assets/scss/variables.scss";

#management-voucher {
  min-height: 100vh;
  padding: 50px 0;
  .nav-tabs {
    display: flex;
    .nav-item {
      flex-grow: 1;
      button {
        width: 100%;
        font-size: 20px;
        font-weight: 500;
        color: $black;
      }
    }
  }

  .btn-add-voucher {
    height: 80px;
    padding: 0 20px;
    button {
      float: right;
    }
  }
}

.modal-voucher {
  .modal-dialog {
    margin: auto;
    display: flex;
    justify-content: center;
    .modal-content {
      width: max-content;
    }
  }
}
