.news-detail-admin{
    padding-bottom: 50px ;
    .multiple-img{
        #images{
            display: flex;
            flex-wrap: wrap;
            .display-img{
                display: flex;
                flex-wrap: wrap;
            }
            figure{
                margin: 5px;
                img{
                    width: 100%;
                    min-height: 300px;
                    height: auto;
                    object-fit: cover;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    border-radius: 10px;
                }
            }
        }
    }
}