@import "/src/assets/scss/variables.scss";

.admin-login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f0f0f1;
  .login-admin-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
    width: max-content;
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-color: $white;

    .btn-admin-login {
      margin: 10px 0;
      width: 100%;
      button {
        float: right;
      }
    }

    .header-login {
      span {
        font-size: 24px;
        font-weight: 600;
        color: $dark;
      }
    }

    .action {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      .forgot-password {
        text-decoration: none;
        color: $dark;
        text-align: left;
        padding-right: 10px;
        font-size: 12px;
        border-right: 1px solid #ddd;
        &:hover {
          color: $red;
        }
      }

      .back-home {
        text-decoration: none;
        display: inline-flex;
        font-size: 12px;
        cursor: pointer;
        color: black;
        margin-left: 10px;
        &:hover {
          color: $red;
        }
      }
    }
  }
}
