.order-by-status {
  .order-item {
    margin-top: 10px;
    background: #fff;
    border-radius: 4px;
    &:hover {
      background: #ddd;
    }
    background-color: #fff;
    .header {
      padding: 10px 20px;
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      font-weight: 600;
    }

    .product-order-item {
      display: flex;
      align-items: center;
      padding: 20px;
      justify-content: space-between;
      width: 100%;
      margin: 0;
      cursor: pointer;
      .product-img {
        img {
          width: 100px;
          height: 100px;
          border-radius: 10px;
        }
      }
    }

    .footer {
      border-top: 1px solid #ccc;
      text-align: end;
      font-size: 16px;
      font-weight: 600;
      padding: 10px 20px;
    }
  }
}
