@import "/src/assets/scss/variables.scss";
.admin {
  min-height: 100vh;
  overflow: hidden;
  .content-page {
    width: calc(100% - 40px);
    position: absolute;
    top: 80px;
    right: 20px;
    min-height: calc(100vh - 80px);
    padding: 20px;
    @media screen and(max-width:900px) {
      width: calc(100% - 40px);
    }
  }
}
