@import "/src/assets/scss/variables.scss";
.admin {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  .content-page {
    width: 100%;
    min-height: calc(100vh - 80px) ;
    margin-top: 80px;
    transition: 1s ease-in-out;
    margin-left: 250px;
    .child-component {
      padding: 20px;
    }
  }
  @media screen and(max-width:1000px) {
    .content-page {
      width: 100%;
      margin-left: 0;
    }
  }
}
