@import "/src/assets/scss/variables.scss";

.reset-password-admin {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f0f0f1;
  .form-reset {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
    width: max-content;
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-color: $white;

    .input {
      width: 100%;
      display: flex;
      justify-content: center;
      .input-group {
        width: 400px;
      }
    }

    .btn-confirm {
      width: 400px;
      button {
        float: right;
      }
    }

    .back-home {
      width: 100%;
      text-align: left;
      a {
        text-decoration: none;
        color: black;
        opacity: 0.7;

        &:hover{
          opacity: 0.9;
        }
      }
    }
  }

  .check-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .btn-confirm {
      float: right;
    }
  }
}
