@import "/src/assets/scss/variables.scss";
.table-admin {
  tr:hover {
    background: #ccc;
  }

  .button {
    cursor: pointer;
    svg{
      opacity: 0.6;
    }

    svg:hover{
      opacity: 1;
    }
  }

  .col-sort {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    .arrow-between {
      height: 8px;
    }
    .arrow-up {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $black;
      cursor: pointer;
    }

    .arrow-up-click {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $gray_600;
    }

    .arrow-down {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $black;
      cursor: pointer;
    }

    .arrow-down-click {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $gray_600;
    }
  }
}
