@import "/src//assets//scss/variables.scss";

.home-page {
  .title-section {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: 500px;
    position: relative;
    color: $black;

    &::before {
      content: "";
      height: 1px;
      background: $black;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 50%;
    }

    &::after {
      content: "";
      height: 1px;
      background: $black;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 50%;
    }
  }

  .product-section {
    padding: 7rem 0 0 0;

    .title-section {
      &::before,
      &::after {
        width: 40%;
      }
    }

    .view-add-product {
      text-align: center;
    }
  }
  
  .product-discount-section {
    padding: 7rem 0 0 0;

    .title-section {
      &::before,
      &::after {
        width: 35%;
      }
    }

    .view-add-product-discount {
      text-align: center;
    }
  }

  .blog-section {
    padding: 7rem 0 7rem 0;
    .title-section {
      &::before,
      &::after {
        width: 40%;
      }
    }
    .view-add-news {
      text-align: center;
      margin-top: 40px;
    }
  }

  .choose-us-session {
    padding: 7rem 0 0 0;

    .title-section {
      &::before,
      &::after {
        width: 30%;
      }
    }

    .img-wrap {
      img {
        border-radius: 10px;
      }
    }
  }
}
