@import "/src//assets//scss/variables.scss";

#home-page {
  margin-top: 80px;

  .slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    
    .slider-item {
      transition: all 1s ease;
    }

    .slider-item-2{
      position: absolute;
    }

    .active-1 {
      transform: translate(0, 0);
    }

    .active-2 {
      top: 0;
      right: 0;
    }

    .slider-1 {
      transform: translate(-100%, 0);
    }

    .slider-2 {
      top: 0;
      right: -100%;
    }

    .advertisement {
      position: relative;
      .advertisement-title {
        position: absolute;
        left: 10%;
        bottom: 30px;
        display: flex;
        flex-direction: column;
        line-height: 1;
        transition: all 1.5s ease;

        &:hover {
          padding-left: 20px;
        }
        .title-span {
          font-size: 54px;
          font-weight: 600;
          color: #fff;
        }

        .title-link {
          font-size: 16px;
          color: #fff;
          text-decoration: none;
          position: relative;
          width: max-content;
          display: inline-block;

          .icon-row {
            position: absolute;
            left: 90%;
            top: 50%;
            transform: translate(0, -40%);
            transition: all 0.5s ease;
            width: 0;
          }
          &:hover {
            .icon-row {
              left: 100%;
              display: block;
              width: 20px;
            }
          }
        }
      }
      .advertisement-img {
        border-radius: 10px;
      }
    }
  }

  .dot-action {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 10px;

    .dot-item {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: #ddd;
      margin: 0 5px;
      cursor: pointer;
    }

    .dot-active {
      background: black;
    }
  }

  .product-section, .product-discount-section {
    padding-top: 30px;

    .title-section {
      font-weight: 600;
      font-size: 24px;
      border-bottom: 3px solid red;
      width: max-content;
      margin-bottom: 10px;
    }

    .view-add-product {
      margin-top: 30px ;
      text-align: center;
    }
  }

  
  .choose-us-session {
    padding: 7rem 0 0 0;

    .title-section {
      &::before,
      &::after {
        @media (max-width: 768px) {
          width: 15%;
        }

        @media (min-width: 768px) {
          width: 20%;
        }

        @media (min-width: 992px) {
          width: 30%;
        }
      }
    }

    .img-wrap {
      img {
        border-radius: 10px;
      }
    }
  }
}
