@import "/src/assets/scss/variables.scss";

.product-detail {
  margin-top: 150px;
  .product {
    border-radius: 10px;
    width: 100%;
    margin: 0 0 20px;
    border: 1px solid #ddd;
    .img-slider {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px;

      .image-display {
        width: 100%;
        height: 500px;
        object-fit: cover;
        margin-bottom: 20px;
      }
      .image-product-list {
        width: 100%;
        overflow-x: auto;
        display: flex;
        align-items: center;
        height: 150px;
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          margin-right: 10px;
          border-radius: 4px;
          opacity: 0.5;
          transition: all 0.5s ease;
        }

        .image-choose{
          width: 130px;
          height: 130px;
          object-fit: cover;
          opacity: 1;
        }
      }
    }

    .content-detail {
      border-left: 1px solid rgb(242, 242, 242);
      padding: 50px;
      animation: right;

      .product-name {
        margin: 0px 0px 4px;
        color: #24244e;
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        word-break: break-word;
      }

      .brand {
        color: #24244e;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;

        a {
          text-decoration: none;
        }
      }

      .price {
        .have-discount {
          padding: 8px 16px;
          background: linear-gradient(104.19deg, #ff707a 0%, #ff424e 95.93%);
          width: 100%;
          border-radius: 4px;

          .price-initial {
            display: flex;
            span {
              font-size: 14px;
              line-height: 20px;
              text-decoration: line-through;
              color: rgba(255, 255, 255, 0.5);
              margin-right: 8px;
            }

            .discount {
              font-size: 14px;
              line-height: 20px;
              color: white;
            }
          }

          .price-discount {
            color: rgb(8, 6, 6);
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
          }
        }
        .no-discount {
          border-radius: 4px;
          background-color: #fafafa;
          padding: 0px 16px 12px;
          width: 100%;

          span {
            display: inline-block;
            padding-top: 12px;
            font-size: 32px;
            line-height: 40px;
            margin-right: 8px;
            font-weight: 500;
          }
        }
      }

      .action {
        display: flex;
        margin: 0;
        width: 100%;
        padding: 0;
        margin-top: 50px;
        button {
          font-size: 15px;
          line-height: 24px;
          font-weight: 500;
          text-transform: capitalize;
        }
        // .add-cart {
        //   margin-right: 50px;
        // }
      }

      .option-size {
        position: relative;

        input {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          cursor: pointer;
          margin: 0px 10px 8px 0px;
          padding: 8px;
          color: rgb(36, 36, 36);
          font-size: 13px;
          min-width: 80px;
          position: relative;
          background-color: rgb(242, 242, 242);
          border: 1px solid transparent;
          outline: 0px;
          border-radius: 4px;

          &:checked {
            border: 1px solid rgb(13, 92, 182);
            background-color: rgb(229, 242, 255);
          }

          &:disabled{
            border: 1px solid #474747;
            cursor: not-allowed;
          }

          &:before {
            content: attr(label);
            display: inline-block;
            text-align: center;
            width: 100%;
          }
        }

        input:disabled {
          // background-color: rgb(188, 186, 186);
          opacity: 0.2;
        }
      }

      .label {
        min-width: 100px;
        display: block;
        font-size: 15px;
        font-weight: 500;
        color: #24244e;
      }

      .warning-size {
        position: relative;
        .tooltiptext {
          visibility: hidden;
          min-width: 120px;
          width: auto;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 75%;
          left: 50%;
          margin-left: -60px;
          padding: 10px;
        }

        .tooltiptext::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: black transparent transparent transparent;
        }
      }

      .warning-size:hover {
        .tooltiptext {
          visibility: visible;
        }
      }
    }

    .quantity {
      height: 40px;
      border: 1px solid #ddd;
      border-radius: 4px;
      width: 150px;
      button {
        border: none;
        &:hover{
          background: #5f5f5f;
        }
      }
      .minus {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      .plus{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      input {
        border: none;
        height: 38px;
        background: #fff;
        color: $black;
      }
    }
  
  }

  .similar {
    min-height: 120px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding-bottom: 4px;
    margin: 0 0 20px;

    .similar-title {
      font-size: 20px;
      line-height: 32px;
      font-weight: 400;
      text-transform: capitalize;
      padding: 8px 16px;
    }
    .no-similar {
      text-align: center;
      font-size: 16px;
    }

    .similar-list {
      display: flex;
      width: 100%;
      overflow-x: auto;
      .product-similar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
        width: 195px;
        margin: 10px;
        border-radius: 10px;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          cursor: pointer;
        }
        img {
          width: 175px;
          height: 175px;
          object-fit: cover;
          border-radius: 10px;
        }
        .product-similar-price {
          width: 100%;
          text-align: left;
          font-size: 16px;
          line-height: 30px;
          font-weight: 500;
          color: rgb(56, 56, 61);
          margin: 2px 0px 0px;
        }

        .product-similar-name {
          width: 100%;
          color: rgb(36, 36, 36);
          font-size: 12px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          line-height: 16px;
          letter-spacing: 0.1px;
          text-align: left;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-word;
          white-space: nowrap;
        }
      }
    }
  }

  .comment {
    min-height: 120px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 0;
    margin: 0 0 20px;
    border: 1px solid #ddd;
    .rate-product {
      font-size: 20px;
      line-height: 32px;
      font-weight: 400;
      text-transform: capitalize;
      padding: 8px 16px;
    }

    .no-comment {
      text-align: center;
      font-size: 16px;
    }

    .list-comment {
      .comment-item {
        display: flex;
        padding: 32px 48px;
        border-top: 1px solid rgb(242, 242, 242);
        .user-comment {
          display: flex;
          .avatar {
            width: max-content;
            height: max-content;
            img {
              height: 50px;
              width: 50px;
              border-radius: 100%;
              border: 2px solid #999999;
            }
          }

          .info {
            padding: 0 10px;
            display: flex;
            flex-direction: column;

            .user-name {
              font-size: 15px;
              line-height: 24px;
              font-weight: 500;
              text-transform: capitalize;
            }

            .date-comment {
              font-size: 13px;
              line-height: 20px;
              color: rgb(128, 128, 137);
            }
          }
        }

        .content-comment {
          .star-comment {
            margin: 0px 0px 4px;
          }

          .made-purchase {
            display: flex;
            align-items: center;
            margin: 0px 0px 16px;

            svg {
              margin: 0px 6px 0px 0px;
            }
            span {
              font-size: 13px;
              font-weight: 400;
              line-height: 20px;
              color: rgb(0, 171, 86);
            }
          }

          .text-comment {
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            margin: 0px 0px 8px;
            white-space: pre-wrap;
          }

          .list-img-comment {
            display: flex;
            flex-wrap: wrap;
            .img-item {
              img {
                width: 152px;
                height: 152px;
                border-radius: 4px;
                background-size: cover;
                background-position: center center;
                margin: 0px 6px 8px;
                cursor: pointer;
              }
            }
          }
        }
      }
      .comment-item:first-child {
        border: none;
      }
    }
  }
}
