@import "/src/assets/scss/variables.scss";

.profile {
  background-color: $bg_color;
  .img-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
