@import "/src/assets/scss/variables.scss";

#profile {
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;

  .avatar {
    width: max-content;
    .input-group {
      img {
        border-radius: 100%;
        width: 200px;
        height: 200px;
        border: 2px solid $gray_600;
      }
      .warning-icon-input {
        top: 90%;
      }
    }
  }

  .input-group {
    margin-top: 0;
    label{
      color: #ccc;
    }
  }
}
