@import "/src/assets//scss/variables.scss";

#news {
  margin-top: 80px;
  min-height: calc(100vh - 80px);

  .title-catalog {
    font-size: 24px;
    display: inline-block;
    margin-bottom: 10px;
  }

  .post-new {
    .post-item {
      display: flex;
      margin-bottom: 10px;
      cursor: pointer;
      .post-thumbnail {
        margin-right: 10px;
        img {
          height: 70px;
          width: 100px;
        }
      }
      .post-content {
        width: calc(100% - 100px);
        .title {
          font-size: 12px;
          width: 100%;
          word-break: break-word;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          // line-height: 24px; /* fallback */
          // max-height: 72px; /* fallback */
          -webkit-line-clamp: 2; /* number of lines to show */
          -webkit-box-orient: vertical;
        }
        .date-post {
          font-size: 12px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
