@import "/src/assets/scss/variables.scss";

.manager-product {
  .manager-action {
    // padding: 20px 16px;
    // border-radius: 10px;
    margin-bottom: 10px;

    .input-search-product {
      position: relative;
      input {
        width: 215px;
        height: 40px;
        border: $main_color;
        padding: 5px 15px 5px 30px;
        border-radius: 4px;
        margin-right: 20px;

        &:focus-visible {
          outline: none;
        }
      }

      svg {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    .brand-filter {
      width: 235px;
      margin-right: 20px;
    }

    .btn-view-all {
      margin-right: 20px;
      .btn-common {
        height: 40px;
      }
    }

    .btn-add-product {
      .btn-common {
        height: 40px;
      }
    }
  }
}
