@import "/src/assets/scss/variables.scss";

.manager-product {
  .manager-action {
    background: $white;
    padding: 20px 16px;
    border-radius: 10px;
    margin-bottom: 10px;

    .input-search-product {
      position: relative;
      input {
        width: 100%;
        padding: 1rem 3rem;
        font-size: 1rem;
        font-family: $font-family;
        border-radius: 10px !important;
        border: 1px solid $main_color;
        outline: none;
      }
      .icon-search {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 20px;
        cursor: pointer;
        svg {
          transition: all 0.2s;
        }

        &:hover {
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
