@import "/src//assets/scss/variables";

.contact {
    background-color: $lighter;
  .service {
    line-height: 1.5;

    .service-icon {
      border-radius: 10px;
      flex: 0 0 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: $primary;
      margin-right: 20px;
      color: $white;
    }
  }

  .btn{
    background: $dark;
    border-color: $dark;
  }

  
}
