@import "/src/assets/scss/variables.scss";

#product {
  margin-top: 80px;
  min-height: calc(100vh - 80px);

  .filter {
    width: 100%;
    margin-bottom: 20px;
    .title {
      font-size: 16px;
    }
    .item {
      display: flex;
      align-items: center;
      .checkbox {
        width: 15px;
        height: 15px;
      }
      label {
        font-weight: 300px;
        color: rgb(52, 51, 51);
        margin-left: 10px;
      }
    }
  }
  ::placeholder {
    color: #a2a2a2;
    font-weight: 200;
    font-size: 14px;
    font-family: $font_family;
  }

  .search-product {
    input {
      font-family: $font_family;
    }

    svg {
      cursor: pointer;
    }
  }

  .sort-product {
    font-family: $font_family!important;
  }
  .paging {
    justify-content: center;
  }
}
