@import "/src/assets/scss/variables.scss";

.product-section {
  padding: 30px 0;

  .row {
    margin: 0;
  }

  .search-product {
    padding: 0;
    position: relative;
    input {
      width: 100%;
      padding: 1rem 3rem;
      font-size: 1rem;
      font-family: $font-family;
      // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 10px !important;
      border: 1px solid $main_color;
      outline: none;
    }
    .icon-search {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 20px;
      cursor: pointer;
      svg {
        transition: all 0.2s;
      }

      &:hover {
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .sort-product {
    position: relative;
    padding: 0;
    .icon-sort {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 30px;
    }
  }

  .row {
    padding: 0;
  }

  .product-filter {
    background: #fff;
    height: max-content;
    padding: 10px;
    border-radius: 10px;

    .accordion {
      margin-bottom: 10px;
      .accordion-item {
        .accordion-header {
          .accordion-button {
            background: none;
            border: none;
            box-shadow: none;
            &:focus {
              background: none;
              box-shadow: none;
              border: none;
              font-family: $font-family;
              background-color: none;
            }
          }
        }
        .accordion-body {
          padding: none !important;
          border-top: 1px solid #ccc;
          .accordion-child {
            height: 40px;
            display: flex;
            align-items: center;

            .checkbox {
              margin: 0 5px;
            }
          }
        }
      }
    }
  }

  .search-and-filter {
    background: #fff;
    padding: 12px;
    border-radius: 10px;
  }

  .list-product {
    background: #fff;
    padding: 12px 0;
    margin-top: 10px;
    border-radius: 10px;
  }
}
