@import "/src/assets/scss/variables.scss";

.product-section {
  padding: 30px 0;

  .row {
    margin: 0;
  }

  .search-product {
    padding: 0;
    position: relative;
    input {
      width: 100%;
      padding: 1rem 3rem;
      font-size: 1rem;
      font-family: $font-family;
      // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 10px !important;
      border: 1px solid #ddd;
      outline: none;
    }
    .icon-search {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 20px;
      cursor: pointer;
      svg {
        transition: all 0.2s;
      }

      &:hover {
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .sort-product {
    position: relative;
    padding: 0;
    .icon-sort {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 30px;
    }
  }

  .row {
    padding: 0;
  }

  .product-filter {
    background: #fff;
    height: max-content;
    padding: 10px;
    border-radius: 10px;

    .accordion {
      margin-bottom: 10px;
      .accordion-item {
        .accordion-header {
          .accordion-button {
            background: none;
            border: none;
            box-shadow: none;
            &:focus {
              background: none;
              box-shadow: none;
              border: none;
              font-family: $font-family;
              background-color: none;
            }
          }
        }
        .accordion-body {
          padding: none !important;
          border-top: 1px solid #ccc;
          .accordion-child {
            height: 40px;
            display: flex;
            align-items: center;

            .checkbox {
              margin: 0 5px;
            }
          }
        }
      }
    }
  }

  .search-and-filter {
    background: #fff;
    padding: 12px;
    border-radius: 10px;

    @media (max-width: $md) {
      padding: 0;

      .search-product{
        margin-bottom: 10px;
      }
    }
  }

  .list-product {
    background: #fff;
    padding: 12px 0;
    margin-top: 10px;
    border-radius: 10px;

    .item {
      text-align: center;
      text-decoration: none;
      display: block;
      position: relative;
      padding-bottom: 50px;
      z-index: 0;

      .product-thumbnail {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 20px;
        // position: relative;
        // top: 0;
        // transition: 0.3s all ease;
        border-radius: 10px;
      }
      .product-title {
        font-weight: 600;
        font-size: 16px;
        color: $dark;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }

      strong {
        font-weight: 800 !important;
        font-size: 18px !important;
        color: $dark;
        text-decoration: none;
      }
      .icon-cross {
        position: absolute;
        width: 100%;
        height: 35px;
        display: inline-block;
        background: $dark;
        bottom: 15px !important;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: -17.5px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s all ease;
        text-align: center;
        cursor: pointer;
        p {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: $white;
          font-family: $font-family;
        }
      }
      &:before {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        content: "";
        background: $light;
        height: 0%;
        z-index: -1;
        border-radius: 10px;
        transition: 0.3s all ease;
      }
      &:hover {
        .product-thumbnail {
          top: -25px;
        }
        .icon-cross {
          bottom: 0 !important;
          opacity: 1;
          visibility: visible;
        }
        &:before {
          height: 70%;
        }
      }

      .product-price-initial {
        color: rgb(128, 128, 137);
        text-decoration: line-through;
        font-size: 14px;
        line-height: 20px;
      }

      .product-price-discount {
        color: $red;
        text-align: left;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
      }

      .product-price {
        height: 45px;
        display: block;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
      }

      .discount {
        position: absolute;
        right: 5%;
        padding: 10px;
        top: 10px;
        z-index: 1;
        transition: all 0.6s;
        color: $red;
        display: flex;
        align-items: center;
        font-weight: 800;
        border: 1px solid $red;
        box-shadow: 5px 5px 10px;
        border-radius: 100%;
      }
    }
  }
}
