@import "/src/assets/scss/variables.scss";

.admin-order-detail {
  min-height: 100vh;
  padding-top: 50px;

  .header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
  }

  .info-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .address,
    .shipment,
    .payment {
      width: 32%;
      .title {
        margin: 10px 0 5px;
        font-size: 13px;
        text-transform: uppercase;
        color: rgb(36, 36, 36);
      }
      .content {
        background: #fff;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 150px;
        overflow-y: auto;
        span {
          margin: 5px 0px 0px;
        }
      }
    }

    .address {
      .name {
        text-transform: uppercase;
        color: rgb(36, 36, 36);
        font-weight: bold;
      }
    }

    .shipment {
      .content {
        .name {
          color: rgb(255, 183, 0);
          font-weight: 700;
          font-size: 16px;
        }
      }
    }

    .payment {
      .content {
        .pay-success {
          color: rgb(253, 162, 35);
          font-style: italic;
          font-weight: 300;
        }
      }
    }
  }

  .order-product {
    background-color: #fff;
    border-radius: 4px;

    .header {
      display: flex;
      margin: 0;
      padding: 20px 10px;
      color: rgb(120, 120, 120);
      font-size: 15px;
      font-weight: 400;
      border-bottom: 1px solid #f2f2f2;
    }

    .order-item {
      .product-item-order {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        border-radius: 4px;
        padding: 20px 10px;

        .img-product {
          width: 80px;
          height: 80px;
          border-radius: 4px;
        }
      }
      .btn-rate {
        width: max-content;
        float: right;
        button {
          height: 32px;
          margin: 0 10px 10px;
        }
      }
    }

    .pay-money {
      padding: 20px 10px;
      margin: 0;
      border-top: 1px solid #f2f2f2;
      div {
        padding: 5px 20px;
        span:first-child {
          color: rgb(120, 120, 120);
          font-size: 14px;
          text-align: right;
        }
        span:last-child {
          color: rgb(36, 36, 36);
          font-size: 14px;
          text-align: right;
        }
      }

      .price-total {
        span:last-child {
          color: rgb(255, 59, 39);
          font-size: 18px;
        }
      }
    }
  }
}
