@import "/src/assets/scss/variables.scss";

.reset-password {
  display: flex;
  align-items: center;
  justify-content: center;
  .form-reset {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: max-content;
    height: max-content;

    .input {
      width: 100%;
      display: flex;
      justify-content: center;
      .input-group {
        width: 400px;
      }
    }

    .btn-confirm {
      width: 400px;
      button {
        float: right;
      }
    }
  }

  .check-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .btn-confirm {
      float: right;
    }
  }
}
