@import "/src/assets/scss/variables.scss";

.chat {
  .icon-chat {
    transition: all 0.5s ease;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 100%;
      cursor: pointer;
    }
  }
  .hide-icon {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  .display-icon {
    width: 50px;
    height: 50px;
    opacity: 1;
  }

  .form-message {
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all 0.5s ease;

    .form-header {
      display: flex;
      border-bottom: 1px solid #ddd;
      height: 40px;
      align-items: center;
      position: relative;
      padding: 0 10px;
      font-weight: 600;
      font-size: 16px;

      img {
        height: 30px;
        width: 30px;
        border-radius: 100%;
        margin-right: 5px;
      }

      .icon-close-form {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        width: 20px;
        height: 20px;
        text-align: center;
        font-size: 16px;

        &:hover {
          color: red;
        }
      }
    }
    .form-message-content {
      padding: 10px;
      height: calc(100% - 97px);
      overflow: auto;
      position: relative;

      .message-left {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
        img {
          height: 30px;
          width: 30px;
          border-radius: 100%;
          margin-right: 10px;
        }

        .message {
          background-color: #85f0c7;
          max-width: 100%;
          width: max-content;
          border-radius: 10px;
          padding: 5px 10px;
        }
      }

      .message-right {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
        img {
          height: 30px;
          width: 30px;
          border-radius: 100%;
          margin-left: 10px;
        }

        .message {
          background-color: #9493f5;
          max-width: 100%;
          width: max-content;
          border-radius: 10px;
          padding: 5px 10px;
        }
      }

      #overlay_spinner {
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        align-items: center;
        justify-content: center;

        .spinner {
          border: 2px solid transparent;
          border-bottom: 2px solid $secondary_hover;
          border-top: 2px solid $secondary_hover;
          margin: 30px auto;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          animation: spin 1.5s linear infinite;
        }
      }
      @keyframes spin {
        from {
          transform: rotate(0);
        }
        to {
          transform: rotate(360deg);
        }
      }

      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
        &:hover {
          background: #555;
        }
      }
    }

    .no-login {
      height: calc(100% - 41px);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;

      a {
        text-decoration: none;
        font-weight: 600;
      }
    }

    .form-message-input {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 1px solid #ddd;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .input {
        width: 100%;
        margin-right: 10px;
        position: relative;

        .icon-image {
          position: absolute;
          display: flex;
          align-items: center;
          top: 50%;
          left: 10px;
          transform: translate(0, -50%);
        }
        input {
          width: 100%;
          height: 36px;
          border-radius: 4px;
          padding: 0 10px 0 10px;
          border: 1px solid #ddd;

          &:focus-visible {
            outline: none;
          }
        }
      }

      .icon-send {
        cursor: pointer;
      }
    }
  }

  .display-form {
    height: 400px;
    width: 300px;
    opacity: 1;
  }

  .hide-form {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: none;
    display: none;
  }
}
