@import "/src/assets/scss/variables.scss";

#revenue {
  height: 100vh;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;

  .display-total {
    height: 100px;
    margin: 0 0 20px;
    .month-current,
    .year-current {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 10px;
      display: flex;
      flex-direction: column;

      span{
        color: $black;
        font-weight: 600;
        font-size: 20px;
      }

      .total-month, .total-year{
        margin: auto;
        color: $red;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  .option {
    position: relative;
    display: flex;
    .change-option {
      width: 150px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-weight: 500;
      z-index: 2;
    }

    .bg-active {
      position: absolute;
      width: 150px;
      left: 0;
      transition: 1s;
      background-color: $primary-color;
      height: 40px;
      z-index: 1;
      border-radius: 4px;
    }
  }

  #chart-revenue {
    position: relative;
    .revenue-month,
    .revenue-year {
      height: 100%;
      width: 100%;
      position: absolute;
      transition: all 2s;
    }
  }
  .month {
    .revenue-year {
      right: -100%;
      top: 50%;
      transform: translate(0, -50%);
      opacity: 0;
    }
    .revenue-month {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  .year {
    .revenue-month {
      left: -100%;
      top: 50%;
      transform: translate(0, -50%);
      opacity: 0;
    }
    .revenue-year {
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
      opacity: 1;
    }
  }
}
