@import "/src/assets/scss/variables.scss";

.sidebar {
  padding: 20px;
  width: 280px;
  min-height: 100vh;
  position: fixed;
  left: 0;
  transition: all 1s;
  background-color: $white;
  transition: 1s ease-in-out;
  z-index: 2;

  .sidebar-header {
    line-height: 100px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: $main_color;
    img {
      height: 150px;
      width: 150px;
      border-radius: 100%;
    }
  }

  .sidebar-action {
    height: calc(100% - 150px);
    .action-item {
      height: 40px;
      list-style: none;
      margin-bottom: 10px;
      background-color: $main_color;
      border-radius: 8px;
      text-align: center;
      line-height: 40px;
      position: relative;
      div:first-child {
        position: absolute;
        top: 50%;
        left: 15px;
        display: flex;
        align-items: center;
        transform: translate(0, -50%);
      }
      div:last-child {
        text-decoration: none;
        color: $white;
        cursor: pointer;
      }
    }
  }

  .arrow-left {
    position: absolute;
    right: 20px;
    width: max-content;
    display: none;
  }

  &.display-sidebar {
    left: 0;
    z-index: 2;
  }
}
@media screen and(max-width:1000px) {
  .sidebar {
    position: fixed;
    left: -280px;

    .arrow-left {
      display: block;
    }
  }
}
