@import "/src/assets/scss/variables.scss";

.sidebar {
  padding: 20px;
  width: 280px;
  height: 100vh;
  position: fixed;
  left: -280px;
  transition: all 1s;
  background-color: $white;
  z-index: 10;

  .sidebar-header {
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: $main_color;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .sidebar-action {
    height: calc(100% - 150px);
    .action-item {
      height: 40px;
      list-style: none;
      margin-bottom: 10px;
      background-color: $main_color;
      border-radius: 8px;
      text-align: center;
      line-height: 40px;
      div {
        text-decoration: none;
        font-family: $font-family;
        color: $white;
        cursor: pointer;
      }
    }
  }

  .arrow-left {
    position: absolute;
    right: 20px;
    width: max-content;
  }

  &.display-sidebar {
    left: 0;
    z-index: 2;
  }

  // &.hidden-sidebar {
  //   left: -280px;
  //   z-index: 1;

  // }
}
