@import "/src/assets/scss/variables.scss";

.user-order {
  .nav-tabs {
    display: flex;
    .nav-item {
      flex-grow: 1;
      &:focus{
        background-color: rgb(239, 242, 241);
      }
      
      button {
        width: 100%;
        font-size: 20px;
        font-weight: 500;
        color: $black;
      }
    }
  }

  .no-order{
    text-align: center;
  }
}
