@import "/src/assets/scss/variables.scss";
#product-item {
  width: 100%;
  cursor: pointer;

  &:hover {
    .product-img {
      .no_1 {
        top: 0;
        right: -100%;
      }

      .no_2 {
        top: 0;
        left: 0;
      }

      .action {
        bottom: 20px;
        right: 50%;
        transform: translate(50%, 0);
      }
    }
  }

  .product-img {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: 300px;
      transition: all 0.5s ease-in-out;
      object-fit: cover;
    }

    .no_1 {
      top: 0;
      right: 0;
    }

    .no_2 {
      top: 0;
      left: -100%;
    }

    .action {
      height: max-content;
      width: max-content;
      position: absolute;
      bottom: 20px;
      right: -100%;
      transition: all 0.5s ease-in-out;
      display: flex;

      .icon-favorite,
      .icon-eye {
        color: black;
        background-color: #fff;
        padding: 10px;
        margin: 0 10px;

        &:hover {
          background-color: #eee;
          svg {
            color: $red;
          }
        }
      }

      .icon-like {
        color: $red;
      }
    }

    .discount {
      position: absolute;
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 10px;
      right: 10px;
      color: #fff;
      font-size: 12px;
      background: red;
      border-radius: 50%;
    }
  }

  .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .name,
    .price {
      padding: 10px 0 0;
    }

    .name {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }
    .price {
      display: flex;
      flex-direction: column;
      align-items: center;
      .price-init,
      .price-discount {
        font-weight: 400;
        font-size: 16px;
      }

      .price-discount {
        color: red;
      }
    }
  }
}
