@import './assets/scss/variables.scss';
@import "~bootstrap/scss/bootstrap";

body {
  font-family: $font-family!important;
  font-weight: 400;
  line-height: 28px;
  color: $body_color;
  font-size: 14px!important;
}

a {
  text-decoration: none;
  transition: 0.3s all ease;
  color: $dark;
  text-decoration: underline;
  &:hover {
    color: $dark;
    text-decoration: none;
  }
  &.more {
    font-weight: 600;
  }
}


// .untree_co-section {
// 	padding: 7rem 0;
// }

.section-title {
	color: $dark;
}

.feature {
	margin-bottom: 30px;
	.icon {
		display: inline-block;
		position: relative;
		margin-bottom: 20px;

		&:before {
			content: "";
			width: 33px;
			height: 33px;
			position: absolute;
			background: rgba($main_color, .2);
			border-radius: 50%;
			right: -8px;
			bottom: 0;
		}

	}
	h3 {
		font-size: 14px;
		color: $dark;
	}
	p {
		font-size: 14px;
		line-height: 22px;
		color: $body_color;
	}
}
