@import "/src/assets/scss/variables.scss";

.product-detail {
  .img-slider {
    width: 40%;
    .carousel {
      img {
        height: 400px;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }

  .content-detail {
    border: 1px solid #dee2e6;
    padding: 20px;
    border-radius: 8px;
    animation: right;

    .action {
      display: flex;
      margin-top: 20px;
      .add-cart {
        margin-right: 50px;
      }
    }
  }
}

/*******************comment**********/
.comment-description {
  .tab-content {
    #uncontrolled-tab-example-tabpane-reviews {
      .list-comment {
        .comment-item {
          min-height: 100px;
          padding: 20px;
          border-bottom: 1px solid #dee2e6;
          display: flex;
          margin-bottom: 20px;

          .avatar-comment {
            height: 40px;
            width: 40px;
            border-radius: 100%;
            margin-right: 10px;
          }

          .text-commnet {
            display: flex;
            flex-direction: column;
            font-family: $font-family;
            .time{
              font-size: 12px;
            }
          }
        }
      }
      .your-comment {
      }
    }
  }
}
