@import "/src/assets/scss/variables.scss";

.custom-navbar-admin {
  height: 80px;
  background-color: $primary;
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px;
  .nav-title {
    font-family: $font-family;
    color: $white;
    font-size: 28px;
    transition: all 2s;
    @media screen and (max-width: 900px) {
      margin-left: 36px;
    }
  }

  .menu-response {
    margin-right: 10px;
    transition: all 2s;
    position: absolute;
    left: 20px;
    text-align: center;
    cursor: pointer;
    @media screen and (min-width: 900px) {
      left: -16px;
    }
  }

  .nav-dropdown {
    position: absolute;
    right: 50px;
    cursor: pointer;
  }
}
