@import "/src/assets/scss/variables.scss";

.verify-register {
  width: 100%;
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
    text-decoration: none;
    color: $main_color;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid $main_color;
    &:hover{
        background-color: $main_color_hover;
        color: $white;
    }
    > span {
      opacity: 0.4;
    }
  }

  .input {
    width: 100%;
    display: flex;
    justify-content: center;
    .input-group {
      width: 400px;
    }
  }

  .btn-confirm {
    width: 400px;
    button {
      float: right;
    }
  }
}
